.container-1 {
  position: relative;
  text-align: center;
  margin-left: 20%;
  padding: 2rem;
  //display: block;
  max-width: 1444px;
  width: 80%;
  height: auto;
  background: #f4f7fa;

  .head-lead {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(img/img3.png) no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 400px;

    display: block;
    border-radius: 30px;
    position: relative;
    z-index: 1;

    .title-text {
      float: left;
      text-align: left;
      margin-left: 6rem;
      padding-top: 6rem;
      position: relative;

      .title {
        font-size: 8rem;
        text-transform: capitalize;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
      .text-lead {
        font-size: 3rem;
        color: #ffff;
        //margin-top: 1rem;
        margin-bottom: 1rem;
      }

      i {
        font-size: 2rem;
        color: $dark-light;
        position: absolute;
        text-align: center;
        display: inline-block;
        padding: 20px;
        margin-top: 2px;
        // background: blue;
      }
      .input-search {
        width: 98%;
        padding: 23px;
        //margin-left: 20px;
        border-radius: 10px;
        border: none;
        font-size: 1.5rem;

        &::placeholder {
          padding-left: 30px;
        }
      }
      span {
        color: #fff;
        padding: 15.5px 21px;
        background: $primary-color;
        font-size: 2rem;
        position: absolute;
        margin-left: -9.8rem;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: 0.4s ease;
        &:hover {
          background: darken($primary-color, 5%);
        }
      }
    }
  } //---end head---

  .industry-grid {
    position: relative;
    display: flex;
    overflow: hidden;
    margin-top: 2rem;

    .job-industry {
      position: relative;
      flex: 1;
      text-align: center;
      justify-items: left;
      border-radius: 20px;
      background: #fff;
      padding: 3rem;

      .title {
        font-size: 2.5rem;
        text-align: left;
        padding-left: 5px;
      }
      .text {
        font-size: 1.2rem;
        float: left;
        text-align: left;
        padding: 5px;
        background: $blue-light;
        display: inline-block;
        margin: 5px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background: darken($blue-light, 5%);
        }
      }
    }
    .company-features {
      flex: 2;
    }
  }

  .company-features {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin-left: 3rem;
    padding: 2rem;
    text-align: left;

    .company-title {
      display: inline-flex;

      .company-features-title {
        font-size: 2.5rem;
        margin-right: 5rem;
      }
      .view-link {
        color: #000;
        font-size: 1.4rem;
        padding: 8px 10px;
        background: #edf2f7;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background: $primary-color;
          color: #fff;
        }
      }
    }

    .company-grub {
      margin-top: 2rem;
      padding: auto;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
      grid-gap: 2rem;

      .company-gird {
        //text-align: initial;
        margin: auto;
        max-width: 100%;
        display: inline-block;
        margin-right: 2rem;
        overflow: hidden;
        border-radius: 10px;
        //grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));

        .text {
          display: flex;
          margin-top: -60px;
          justify-content: space-between;
          padding: 2rem;

          .title {
            color: #fff;
            font-size: 1.7rem;
            transition: 0.4s ease;
          }
          i {
            color: #fff;
            font-size: 1.5rem;
            padding: 8px;
            background: $primary-color;
            border-radius: 5px;
            margin-top: -2px;
            transition: 0.4s ease;
          }
          &:hover {
            transform: translateY(-1rem) !important;
          }
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          transition: 0.3s ease;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  } //---end grid job---

  .find-job {
    text-align: initial;
    display: flex;
    justify-content: space-between;

    .find-job-grid {
      margin-top: 2rem;
      padding: 4rem;
      max-width: 100%;
      width: 325px;
      background: #fff;
      border-radius: 20px;

      .title {
        font-size: 3rem;
        text-transform: capitalize;
        color: $secondary-color;
      }
      .title1 {
        font-size: 3rem;
        color: $secondary-color;
        line-height: 3.5rem;
        font-weight: 500;
      }
      .mat {
        color: #fff !important;
      }

      .line {
        width: 5px;
        height: 60px;
        background: $primary-color;
        margin-top: 60px;
        position: absolute;
      }
      .job-count {
        font-size: 9rem;
        margin-top: 2rem;
        margin-left: 1.5rem;
        margin-bottom: 3.3rem;
        color: $secondary-color;
      }
      p {
        font-size: 1.5rem;
        margin: 1rem 0;
      }
      button {
        font-size: 1.8rem;
        font-weight: bold;
        padding: 12px 30px;
        border-radius: 10px;
        border: none;
        color: #fff;
        background: $primary-color;
        margin-top: 3rem;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background: darken($primary-color, 5%);
        }
      }
      .fa-angle-double-right {
        float: left;
        color: #fff;
        font-size: 3rem;
        padding: 10px 18px;
        background: $secondary-color;
        border-radius: 10px;
        margin-top: 17.2rem;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background: #fff;
          color: $secondary-color;
          border: 1px solid $secondary-color;
        }
      }
      .fa-bullhorn {
        font-size: 13.5rem;
        color: $primary-color;
        transform: rotate(-30deg);
        // margin-top: 3rem;
        margin-left: 4rem;
      }
    }
    .full-color {
      background-image: linear-gradient(
        120deg,
        #f6d365 0%,
        #fda085 100%
      ) !important;

      .title {
        color: #fff;
      }
      .fa-bullhorn {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  //---footer---
  hr {
    margin: 4rem 0;
    border: 2px solid white;
  }
  //---footer---

  .footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2rem auto;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #a2b0ba;

    .logo-footer {
      p {
        font-size: 1.5rem;
        text-align: left;
        color: #a2b0ba;
      }
    }
    .last-post {
      h2 {
        font-size: 2rem;
        text-transform: capitalize;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .faq {
      display: inline-flex;
      font-size: 1.5rem;
      margin-top: 1rem;

      h2 {
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          color: $secondary-color;
        }
      }
      span {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    .social-footer {
      text-align: center;
      margin-top: 1rem;
      i {
        font-size: 4rem;
        margin-left: 1.5rem;
        transition: 0.4s ease;
        cursor: pointer;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
