.support{
    position: relative;
    display: flex;
    text-align: left;

    .from-support{
        flex: 2;
        background: #fff;
        padding: 30px;
        border-radius: 20px;
        margin-right: 20px;
        
        .title{
            text-align: left;
            font-size: 3rem;
            margin-left: 16px;
        }
        form{
            max-width: 95%;
            margin: 20px auto;

            input{
                width: 100%;
                margin-bottom: 20px;
                padding: 17px;
                background: $blue-light;
                border-radius: 10px;
                border: none;
                font-size: 1.7rem;
                
                
                &::placeholder{
                    text-transform: capitalize;
                }
                
               
            }
            textarea{
                max-width: 100%;
                width: 100%;
                border-radius: 10px;
                border: none;
                background: $blue-light;
                padding: 20px;
                resize: vertical;
                font-size: 1.7rem;
                text-transform: capitalize;

                &::placeholder{
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .btn-support{
                width: 100%;
                padding: 20px;
                border-radius: 10px;
                color: #fff;
                font-size: 1.7rem;
                font-weight: bold;
                border: none;
                background: $primary-color;
                cursor: pointer;
                transition: 0.4s ease;
                margin: 20px 0;

                &:hover{
                    background: darken($primary-color,5%);
                }
            }
        }
    }
    .left-img{
        flex: 1;
        background: #fff;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        
        
        img{
           
            max-width: 100%;
            width: 100%;
            border-radius: 20px;
        }
    }
}