@import 'config';
@import 'navbar';
@import 'home';
@import 'job';
@import 'companies';
@import 'support';
@import 'responsive';


html{
    font-size: 62.5%;
    overflow-y: scroll;
}
body{
    font-family: 'Baloo 2', cursive !important;
    background: #F4F7FA;
}
a{
    text-decoration: none;

}

ul{
    list-style: none;
}
hr{
    margin: 4rem 0;
    border: 2px solid white;
   
}